{% extends 'app/base.html' %}

{% load static %}

{% block title %}

Collections | LINO

{% endblock %}

{% block extra_css %}

<link rel="stylesheet"
      href="{% static 'css/collections.css' %}">

{% endblock %}

{% block content %}


<!--==========================================
            COLLECTION HERO
===========================================-->

<section class="collections-hero">

    <div class="container-custom">

        <div class="collections-heading">

            <span class="collections-label">

                Signature Collection

            </span>

            <h1 class="collections-title">

                Discover
                <br>
                Every Fragrance

            </h1>

            <p class="collections-description">

                Explore timeless creations crafted with
                elegance, precision and modern luxury.

            </p>

        </div>

    </div>

</section>

<div class="collection-toolbar">

    <div class="toolbar-left">

        <span class="collection-count">

            

        </span>

    </div>

    <div class="toolbar-right">

        <div class="premium-filter">

    <label for="categoryFilter">

        <i class="fa-solid fa-layer-group"></i>

    </label>

    <select id="categoryFilter">

        <option value="all">All Collections</option>

        <option value="oudh">Oudh</option>

        <option value="attar">Attar</option>

        <option value="spray">Perfume Spray</option>

        <option value="musk">Musk</option>

        <option value="floral">Floral</option>

    </select>

</div>  
<div class="premium-sort">

    <i class="fa-solid fa-arrow-down-wide-short"></i>

    <select id="sortProducts">

        <option value="featured">Featured</option>
        <option value="az">A - Z</option>
        <option value="za">Z - A</option>
        <option value="low-high">Price: Low to High</option>
        <option value="high-low">Price: High to Low</option>
        <option value="newest">Newest</option>

    </select>

</div>

    </div>

</div>

<!-- ==========================================
            FILTER DRAWER
========================================== -->

<div class="filter-overlay" id="filterOverlay"></div>

<aside class="filter-drawer" id="filterDrawer">

    <div class="filter-header">

        <h3>Filter Products</h3>

        <button
            class="filter-close"
            id="closeFilter">

            <i class="fa-solid fa-xmark"></i>

        </button>

    </div>

    <!-- Gender -->

    <div class="filter-group">

        <h4>Gender</h4>

        <label><input type="checkbox"> Male</label>

        <label><input type="checkbox"> Female</label>

        <label><input type="checkbox"> Unisex</label>

    </div>

    <!-- Price -->

    <div class="filter-group">

        <h4>Price Range</h4>

        <label><input type="radio" name="price"> ₹1000 - ₹3000</label>

        <label><input type="radio" name="price"> ₹3000 - ₹5000</label>

        <label><input type="radio" name="price"> ₹5000+</label>

    </div>

    <!-- Collection -->

    <div class="filter-group">

        <h4>Collection</h4>

        <label><input type="checkbox"> ONE MILLION</label>

        <label><input type="checkbox"> MARJ</label>

        <label><input type="checkbox"> SUBAYA</label>

        <label><input type="checkbox"> MIDNIGHT</label>

    </div>

    <!-- Bottle Size -->

    <div class="filter-group">

        <h4>Bottle Size</h4>

        <label><input type="checkbox"> 50ml</label>

        <label><input type="checkbox"> 100ml</label>

        <label><input type="checkbox"> 150ml</label>

    </div>

    <div class="filter-footer">

        <button class="clear-filter">

            Clear

        </button>

        <button class="apply-filter">

            Apply Filters

        </button>

    </div>

</aside>


<!--==========================================
            FILTER
===========================================-->

<section class="collections-filter">

    <div class="container-custom">

        <div class="filter-wrapper">

            <button class="filter-btn active">

                All

            </button>

            <button class="filter-btn">

                Men

            </button>

            <button class="filter-btn">

                Women

            </button>

            <button class="filter-btn">

                Unisex

            </button>

            <button class="filter-btn">

                Signature

            </button>

        </div>

    </div>

</section>


<!--==========================================
            PRODUCT GRID
===========================================-->

<section class="collections-grid">

    <div class="container-custom">

        <div class="products-grid">


            <!-- ONE MILLION -->

           <article
    class="product-card quick-view-btn"
    data-name="ONE MILLION"
    data-price="₹ 4,999"
    data-subtitle="Dark Woody Elegance"
    data-image="{% static 'images/products/ONE MILLION.png' %}"
    data-slug="ONE MILLION"
    data-link="/product/ONE MILLION/">

    <!-- Wishlist -->

    <div class="product-wishlist">

        <i class="fa-regular fa-heart"></i>

    </div>

    <!-- Product Image -->

    <a href="#">

        <img
            src="{% static 'images/products/ONE MILLION.png' %}"
            alt="ONE MILLION">

    </a>

    <!-- Product Info -->

    <h3>ONE MILLION</h3>

    <p>Eau De Parfum</p>

    <span>₹ 4,999</span>

</article>


            <!-- MARJ -->

            <article
    class="product-card quick-view-btn"

    data-name="MARJ"
    data-price="₹ 3,499"
    data-subtitle="Fresh Floral Elegance"
    data-image="{% static 'images/products/MARJ.png' %}"
    data-slug="MARJ"
    data-link="/product/MARJ/">

    <div class="product-wishlist">

        <i class="fa-regular fa-heart"></i>

    </div>

    <a href="#">

        <img
            src="{% static 'images/products/MARJ.png' %}"
            alt="MARJ">

    </a>

    <h3>MARJ</h3>

    <p>Eau De Parfum</p>

    <span>₹ 3,499</span>

</article>


            <!-- SUBAYA -->

            <article
    class="product-card quick-view-btn"
    data-name="SUBAYA"
    data-price="₹ 5,999"
    data-subtitle="Royal Oriental Oud"
    data-image="{% static 'images/products/SUBAYA.png' %}"
    data-slug="SUBAYA"
    data-link="/product/SUBAYA/">

    <!-- Wishlist -->

    <div class="product-wishlist">

        <i class="fa-regular fa-heart"></i>

    </div>

    <!-- Product Image -->

    <a href="#">

        <img
            src="{% static 'images/products/SUBAYA.png' %}"
            alt="SUBAYA">

    </a>

    <!-- Product Info -->

    <h3>SUBAYA</h3>

    <p>Royal Oriental Oud</p>

    <span>₹ 5,999</span>

</article>

<!-- OUDH KUWAITY -->

<article
    class="product-card quick-view-btn"
    data-name="OUDH KUWAITY"
    data-price="₹ 5,999"
    data-subtitle="Authentic Arabian Oud"
    data-image="{% static 'images/products/OUDH-KUWAITY.png' %}"
    data-slug="OUDH-KUWAITY"
    data-link="/product/OUDH-KUWAITY/">

    <!-- Wishlist -->

    <div class="product-wishlist">

        <i class="fa-regular fa-heart"></i>

    </div>

    <!-- Product Image -->

    <a href="#">

        <img
            src="{% static 'images/products/OUDH-KUWAITY.png' %}"
            alt="OUDH KUWAITY">

    </a>

    <!-- Product Info -->

    <h3>OUDH KUWAITY</h3>

    <p>Authentic Arabian Oud</p>

    <span>₹ 5,999</span>

</article>

<!-- MUSK RIZAL -->

<article
    class="product-card quick-view-btn"
    data-name="MUSK RIZAL"
    data-price="₹ 5,999"
    data-subtitle="Warm & Refined Musk"
    data-image="{% static 'images/products/MUSK-RIZAL.png' %}"
    data-slug="MUSK-RIZAL"
    data-link="/product/MUSK-RIZAL/">

    <!-- Wishlist -->

    <div class="product-wishlist">

        <i class="fa-regular fa-heart"></i>

    </div>

    <!-- Product Image -->

    <a href="#">

        <img
            src="{% static 'images/products/MUSK-RIZAL.png' %}"
            alt="MUSK RIZAL">

    </a>

    <!-- Product Info -->

    <h3>MUSK RIZAL</h3>

    <p>Warm & Refined Musk</p>

    <span>₹ 5,999</span>

</article>

<!-- JANNATH AL FIRDOUS -->

<article
    class="product-card quick-view-btn"
    data-name="JANNATH AL FIRDOUS"
    data-price="₹ 5,999"
    data-subtitle="Floral & Woody Elegance"
    data-image="{% static 'images/products/JANNATH-AL-FIRDOUS.png' %}"
    data-slug="JANNATH-AL-FIRDOUS"
    data-link="/product/JANNATH-AL-FIRDOUS/">

    <!-- Wishlist -->

    <div class="product-wishlist">

        <i class="fa-regular fa-heart"></i>

    </div>

    <!-- Product Image -->

    <a href="#">

        <img
            src="{% static 'images/products/JANNATH-AL-FIRDOUS.png' %}"
            alt="JANNATH AL FIRDOUS">

    </a>

    <!-- Product Info -->

    <h3>JANNATH AL FIRDOUS</h3>

    <p>Floral & Woody Elegance</p>

    <span>₹ 5,999</span>

</article>

<!-- NOORA -->

<article
    class="product-card quick-view-btn"
    data-name="NOORA"
    data-price="₹ 5,999"
    data-subtitle="Graceful Floral Elegance"
    data-image="{% static 'images/products/NOORA.png' %}"
    data-slug="NOORA"
    data-link="/product/NOORA/">

    <!-- Wishlist -->

    <div class="product-wishlist">

        <i class="fa-regular fa-heart"></i>

    </div>

    <!-- Product Image -->

    <a href="#">

        <img
            src="{% static 'images/products/NOORA.png' %}"
            alt="NOORA">

    </a>

    <!-- Product Info -->

    <h3>NOORA</h3>

    <p>Graceful Floral Elegance</p>

    <span>₹ 5,999</span>

</article>

        </div>

    </div>

</section>


{% endblock %}