{% extends "app/base.html" %}
{% load static %}

{% block title %}
LINO | FRAGRANCE OF HEAVEN
{% endblock %}

{% block content %}



<!--==========================================
                HERO
===========================================-->

<section class="hero">

    <div class="container-custom">

        <div class="hero-wrapper">

            <!--==============================
                    LEFT CONTENT
            ==============================-->

            <div class="hero-content">

                <span class="hero-label">

                    Elegance in Every Note

                </span>

                <h1 class="hero-title">

                    DISCOVER

                    <br>

                    THE ART OF

                    <br>

                    FRAGRANCE

                </h1>

                <p class="hero-description">

                    Discover a collection of timeless perfumes
                    crafted with exceptional ingredients,
                    refined artistry, and unforgettable elegance.

                </p>

                <div class="hero-buttons">

                    <a href="{% url 'collections' %}"

                       class="btn-luxury">

                        <span>

                            Explore Collection

                        </span>

                        <i class="fa-solid fa-arrow-right-long"></i>

                    </a>

                    <a href="{% url 'story' %}"

                       class="hero-secondary">

                        Our Story

                    </a>

                </div>

            </div>

                        <!--==============================
                    RIGHT CONTENT
            ==============================-->

            <div class="hero-media">

                <div class="hero-image-box">

                    <img

                        src="{% static 'images/hero/perfume-hero.png' %}"

                        alt="LINO Perfume"

                        class="hero-image">

                </div>

            </div>

        </div>

    </div>

    <div class="hero-scroll">

    <span>Scroll</span>

    <div class="hero-scroll-line"></div>

</div>

</section>



<!-- =======================================
            LUXURY MARQUEE
======================================= -->

<section class="luxury-marquee">

    <div class="marquee-track">

        <div class="marquee-content">

            <span>CRAFTED</span>

            <span>•</span>

            <span>LINO</span>

            <span>•</span>

            <span>LUXURY</span>

            <span>•</span>

            <span>PERFUME</span>

            <span>•</span>

            <span>TIMELESS</span>

            <span>•</span>

            <span>BLACK EDITION</span>

            <span>•</span>

            <span>CRAFTED</span>

            <span>•</span>

            <span>LINO</span>

            <span>•</span>

            <span>LUXURY</span>

            <span>•</span>

            <span>PERFUME</span>

            <span>•</span>

            <span>TIMELESS</span>

        </div>

    </div>

</section>

<!-- ==========================================
        SIGNATURE COLLECTION
========================================== -->

<section class="signature-section" id="new-arrivals">

    <div class="container-custom">

        <div class="section-heading">

            <span class="section-label">

                Signature Collection

            </span>

            <h2 class="section-title">

                Crafted For Every
                <br>
                Extraordinary Moment

            </h2>

            <p class="section-description">

                Discover our most iconic fragrances,
                designed with timeless elegance and
                exceptional craftsmanship.

            </p>

        </div>

        <div class="collection-list">

            <!-- Item 01 -->

            <article class="collection-item">

    <div class="collection-number">

    

    </div>

    <div class="collection-content">

        <h3>

            ONE MILLION

        </h3>

        <p>

            Deep woody notes with rich amber
            and luxurious spices.

        </p>

    </div>

    <div class="collection-image">

        <img

            src="{% static 'images/products/ONE MILLION.png' %}"

            alt="ONE MILLION">

    </div>

    <a href="{% url 'collections' %}"

       class="collection-link">

        Discover

        <i class="fa-solid fa-arrow-right-long"></i>

    </a>

</article>

            <!-- Item 02 -->

            <article class="collection-item">

    <div class="collection-number">

        

    </div>

    <div class="collection-content">

        <h3>

            MARJ

        </h3>

        <p>

            Fresh white musk blended with
            elegant floral accords.

        </p>

    </div>

    <div class="collection-image">

        <img

            src="{% static 'images/products/MARJ.png' %}"

            alt="MARJ">

    </div>

    <a href="{% url 'collections' %}"

       class="collection-link">

        Discover

        <i class="fa-solid fa-arrow-right-long"></i>

    </a>

</article>

            <!-- Item 03 -->

            <article class="collection-item">

    <div class="collection-number">

       

    </div>

    <div class="collection-content">

        <h3>

            SUBAYA

        </h3>

        <p>

            A bold oriental masterpiece
            inspired by timeless luxury.

        </p>

    </div>

    <div class="collection-image">

        <img

            src="{% static 'images/products/SUBAYA.png' %}"

            alt="SUBAYA">

    </div>

    <a href="{% url 'collections' %}"

       class="collection-link">

        Discover

        <i class="fa-solid fa-arrow-right-long"></i>

    </a>

</article>


            <!-- Item 04 -->

<article class="collection-item">

    <div class="collection-number">

    </div>

    <div class="collection-content">

        <h3>
            NOORA
        </h3>

        <p>
            A graceful floral fragrance
            crafted with timeless elegance.
        </p>

    </div>

    <div class="collection-image">

        <img
            src="{% static 'images/products/NOORA.png' %}"
            alt="NOORA">

    </div>

    <a href="{% url 'collections' %}"
       class="collection-link">

        Discover

        <i class="fa-solid fa-arrow-right-long"></i>

    </a>

</article>
            <!-- Item 05 -->

<article class="collection-item">

    <div class="collection-number">

    </div>

    <div class="collection-content">

        <h3>
            OUDH KUWAITY
        </h3>

        <p>
            A rich Arabian oud fragrance
            inspired by the heritage of Kuwait.
        </p>

    </div>

    <div class="collection-image">

        <img
            src="{% static 'images/products/OUDH-KUWAITY.png' %}"
            alt="OUDH KUWAITY">

    </div>

    <a href="{% url 'collections' %}"
       class="collection-link">

        Discover

        <i class="fa-solid fa-arrow-right-long"></i>

    </a>

</article>

            <!-- Item 06 -->


<article class="collection-item">

    <div class="collection-number">

    </div>

    <div class="collection-content">

        <h3>
            MUSK RIZAL
        </h3>

        <p>
            A smooth musky fragrance
            with a warm and refined character.
        </p>

    </div>

    <div class="collection-image">

        <img
            src="{% static 'images/products/MUSK-RIZAL.png' %}"
            alt="MUSK RIZAL">

    </div>

    <a href="{% url 'collections' %}"
       class="collection-link">

        Discover

        <i class="fa-solid fa-arrow-right-long"></i>

    </a>

</article>

            <!-- Item 06 -->

<article class="collection-item">

    <div class="collection-number">

    </div>

    <div class="collection-content">

        <h3>
            JANNATH AL FIRDOUS
        </h3>

        <p>
            A refreshing blend of floral and
            woody notes inspired by paradise.
        </p>

    </div>

    <div class="collection-image">

        <img
            src="{% static 'images/products/JANNATH-AL-FIRDOUS.png' %}"
            alt="JANNATH AL FIRDOUS">

    </div>

    <a href="{% url 'collections' %}"
       class="collection-link">

        Discover

        <i class="fa-solid fa-arrow-right-long"></i>

    </a>

</article>

        </div>

    </div>

</section>

<!-- ======================================
        BRAND STORY
====================================== -->

<section class="brand-story">

    <div class="container-custom">

        <div class="brand-grid">

            <!-- LEFT -->

            <div class="brand-image">

                <img

                    src="{% static 'images/background/story-image.png' %}"

                    alt="LINO Story">     

            </div>

            <!-- RIGHT -->

            <div class="brand-content">

                <span class="brand-label">

                    OUR PHILOSOPHY

                </span>

                <h2>

                    Luxury Is
                    <br>
                    Not Created.
                    <br>
                    It Is Remembered.

                </h2>

                <p>

                    Every fragrance begins with a story.
                    Inspired by timeless elegance,
                    handcrafted with exceptional attention
                    to every detail.

                </p>

                <a href="{% url 'story' %}"
   class="btn-luxury">

    <span>

        Read Our Story

    </span>

    <i class="fa-solid fa-arrow-right-long"></i>

</a>

            </div>

        </div>

    </div>

</section>

<!-- ==========================================
        FEATURED PRODUCTS
========================================== -->

<section class="products-section" id="best-sellers">

    <div class="container-custom">

        <div class="section-heading">

            <span class="section-label">

                Featured Collection

            </span>

            <h2 class="section-title">

                Our Best Sellers

            </h2>

            <p class="section-description">

                A curated collection of our most loved fragrances,
                designed for every occasion.

            </p>

        </div>

        <div class="products-grid">

            {% for product in featured_products %}

            <article class="product-card quick-view-btn"
                data-name="{{ product.name }}"
                data-price="₹ {{ product.price }}"
                data-subtitle="{{ product.subtitle }}"
                data-image="{{ product.get_image_url }}"
                data-slug="{{ product.slug }}"
                data-link="{% url 'product-detail' product.slug %}">

                <div class="product-wishlist">

                    <i class="fa-regular fa-heart"></i>

                </div>

                <div class="product-image">

                    <img src="{{ product.get_image_url }}"

                         alt="{{ product.name }}">

                </div>

                <span class="product-category">

                    {{ product.concentration }}

                </span>

                <h3>

                    {{ product.name }}

                </h3>

                <p class="product-price">

                    ₹ {{ product.price }}

                </p>

                <a href="{% url 'product-detail' product.slug %}" class="btn-luxury">

                    <span>

                        Explore

                    </span>

                    <i class="fa-solid fa-arrow-right-long"></i>

                </a>

            </article>

            {% empty %}

            <div class="empty-featured">

                <p>Coming soon — our finest fragrances.</p>

            </div>

            {% endfor %}

        </div>

    </div>

</section>

{% endblock %}